* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-dark: #131c46;
  --blue--react: #3bdafb;
  --my-color--dark: #1a2130;
  --my-color--wine: #5E2129;
}
html {
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--bg-dark), var(--my-color--wine));
  font-family: 'Lato', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto', sans-serif;
}